/* Estilos Generales */
body {
    font-family: 'Rubik', sans-serif;
    background-color: #f8f9fa;
}

/* Barra de Navegación */
.navbar {
    background-color: #e5b20b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
}

.nav-link {
    color: #333;
}

.navbar-toggler-icon {
    background-color: #333;
}

/* Contenedor Principal */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #e5b20b;
}

/* Tarjetas de Productos */
.card {
    margin-bottom: 20px;
    border: none;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.card-text {
    color: #555;
}

.btn-primary {
    background-color: #e5b20b;
    border: none;
}

/* Lista de Carrito */
.list-group-item {
    justify-content: space-between;
    font-weight: 600;
}

/* Total y Botón de Compra */
.mt-3 {
    text-align: right;
}

.btn-success {
    background-color: #28a745;
    border: none;
    font-weight: 600;
}

/* Footer (si es necesario) */
footer {
    background-color: #e5b20b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.carousel-inner{
    max-width: 300 px;
}
