/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(imagenes/pro.jpg);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #e5b20b;
    padding: 20px 0;
}

.caja1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.5);

}

h1 img {
    max-width: 100%;
    height: auto;
    display: flex;
    width: 140px;
    margin-right: 50px;
    margin: 0px auto;
    margin-left: 14px;
}

.navbar navbar-expand-lg bg-body-tertiary {
    position: absolute;
    top: 110px;
    right: 0;


}

.container-fluid {
    background: rgba(0, 0, 0, 0.5);
    color: #000000;
    font-weight: bold;
    display: flex;
    flex-direction: row;

}

.lista-nav {
    display: flex;
}

nav li {
    margin-right: 20px;
    display: inline;
    margin: 0 0 0 15px;

}

nav li:hover {
    color:#e5b20b;
}

nav a:hover{
    color:#e5b20b;
}

button.btn.btn-outline-success{
    color: #000000;
    font-weight: bold;
}

/* Estilos para el contenido principal */
main {
    margin: 0px auto;
    width: 90%;
}

.contenedor-main-1 {
    max-width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.seccion1 {
    width: 100%;
    height: auto;
    background-color: rgb(255, 235, 16);
    margin: 0px auto;
    margin-top: 20px;
}

.slider {
    max-width: 100%;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slider ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    animation: cambio 5s infinite alternate linear;
    width: 400%;
    height: auto;
}

.slider li {
    width: 100%;
    display: inline-block;
    list-style: none;

}

.slider img {
    width: 50%;
    height: 40%;
}

.botones-main{
    display: flex;
    justify-content: center;
    }
    .btn.btn-primary, .btn.btn-secondary, .btn.btn-success, .btn.btn-danger,
    .btn.btn-warning, .btn.btn-info, .btn.btn-light, .btn.btn-dark, .btn.btn-link{
        margin: 20px;
    }



/* Estilos para la sección del mapa */
.contenedor-mapa {
    max-width: 1200px;
    margin: 20px auto;

}

.mapa {
    background-color: #fff;
    padding-left: 95px;
}

p {
    text-align: center;
    font-weight: 500;
}

.titulo-principal {
    padding-top: 20px;
    margin-left: 20px;
    padding-left: 30px;
}

/* Estilos para la caja2 */
.caja2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

}

.imagen-diferenciales {
    width: 50%;
    height: 400px;
    margin-left: 0px;
    margin-right: 200px;
    margin-top: 40px;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px #000000;
}

.imagen-diferenciales:hover {
    opacity: 0.3;
}

.video {
    display: inline-block;
    margin-left: 20px;
    margin-top: 40px;
}

iframe {
    max-width: 100%;
}

/* Estilos para el pie de página */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

footer img {
    max-width: 10%;
    height: auto;
}

.copyright {
    margin-top: 10px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .caja1 {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    nav ul {
        margin-top: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .seccion1 {
        margin-right: 0;
    }

    aside {
        margin-left: 0;
    }

    .boton {
        flex: 1;
        margin: 10px 0;
    }

    .mapa {
        padding: 20px;
        text-align: center;
    }

    .caja2 {
        flex-direction: column;
        align-items: flex-start;
    }
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/* Pagina de productos */

.card-body{
    display: flex;
    flex-direction: row;
}

/* Carrito de compras*/

.btn.btn-primary{
    display: flex;
    align-items: end;
    margin: auto;
    background-color:darkgreen;
    color: white;
    border: 0px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 32px;

}

.btn.btn-primary:hover{
    background-color:#000000;
}

